*{
box-sizing: border-box;
font-family: 'Baloo 2', cursive;
}
main{
    max-width: 1000px;
    margin:auto;
}

/* titolo e paragrafo */
.titolo-e-paragrafo {
    text-align: center;
   
    
}
.titolo{
    color: #E5316F;
    font-weight: 700;
    font-size: 40px;
}


/* gestione delle foto */

.foto{
    width: 100px;
    float: left;
    margin-right: 2%;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/* testo e sfondo riquadri */
.persona{
    background-color: #100e17;
    color: #ffffff;
    display: inline-block;
    width: 30%;
    box-shadow: 5px 5px 5px 5px #ededed;
    margin-right: 2%;
    
}

.link{
    color: #309DDC;
    text-decoration: dashed;
}
.nome,h3 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

/* sezioni */

.primi3{
    margin-bottom: 5%;
}
